{
    "rules": {
        "indent": ["error", 4],
        "semi": [2, "always"],
        "space-before-function-paren": [
            "error",
            { "anonymous": "always", "named": "never" }
        ],
        "quotes": ["error", "double", { "allowTemplateLiterals": true }]
    }
}
